.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: teal;
    color: white;
}

.nav-links {
    color: white;
}

.logo {
    font-size: 18px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

input[type="checkbox"] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}