.container-terreno {
    max-width: 800px;
    display: grid;
    color: white;
    gap: 20px;
    grid-template-areas: "Cozinha Cozinha Cozinha Cozinha Cozinha Cozinha Cozinha Cozinha Cozinha Cozinha Cozinha Cozinha"
                         "Quarto Quarto Quarto Quarto Quarto Quarto Quarto Quarto Quarto Quarto Banheiro Banheiro"
                         "Quarto Quarto Quarto Quarto Quarto Quarto Quarto Quarto Quarto Quarto Banheiro Banheiro";
}

.comodo {
    background-color: pink;
    display: grid;
    align-items: center;
    justify-items: center;
}

.cozinha {
    grid-area: Cozinha;
}

.banheiro {
    grid-area: Banheiro;
}

.quarto {
    grid-area: Quarto;
}